<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">WiseFriend</h1>
                    <p class="intro-text">ADVISING AND MENTORING FOR THE FORMERLY INCARCERATED</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="welcome">Welcome to WiseFriend</h1>
      <h3 class="welcome">Advising and Mentoring for Former Inmates</h3>
      <div id="mentee_signup">Have you recently been released from incarceration? We understand that the process of re-entering society and finding stability can be a difficult one. Sign up now to be matched with a mentor who can help guide you and assist with the challenges you face.<br>
        <a href="/mentees/new">Sign Up Now!</a><br><br><br>
      </div>
      <div id="mentor_signup">Volunteer with WiseFriend and make an impact today! If you're interested in helping individuals get their lives back on track and working towards the end of mass incarceration, sign up here to be a mentor!<br>
        <a class="button-right" href="/mentors/new">Sign Up Now!</a>
      </div>
    </div>
  </div>
</section>

