<h3>Log In</h3>
<form action="/login" method="post">
  <label>I Am A:  </label>
  <select name="user_type">
    <option value="mentor">Mentor</option>
    <option value="mentee">Mentee</option>
  </select><br><br>
  <label>Email:   </label>
  <input type="text" name="email"><br><br>
  <label>Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" name="Log In">
</form>