<% if Mentorship.find_by(mentee_id: @mentee.id) %>
<h3> Congratulations - you've been matched! </h3>
<h4>Your Mentor Profile</h4>
<div id="mentor_profile">
  <h4>Your Mentor Profile</h4>
  <%= erb :'/mentors/profile', layout: false, locals: {mentor: @mentee.mentors[0]} %>
</div>
<% end  %>


<h3>Your Profile</h3>
<div id="mentee_profile">
  <h3>Your Profile</h3>
  <%= erb :'mentees/_mentee', layout: false, locals: {mentee: @mentee} %>
</div>