<option value="blank"></option>
<option value="A">Affordable Housing</option>
<option value="D">Drug/Alcohol Treatment</option>
<option value="ED">Educational Opportunities</option>
<option value="EM">Employment/Job Search</option>
<option value="F">Family Counseling</option>
<option value="MC">Medical Care</option>
<option value="MH">Mental Health Services</option>
<option value="N">Nonviolent Conflict Resolution</option>
