<div class="profile-page">

  <% if Mentorship.find_by(mentee_id: @user.id) %>
  <h3> Congratulations - you've been matched! </h3>
  <div id="mentor_profile">
    <h3>Your Mentor's Profile</h3>
    <%= render partial: 'mentor_profile', layout: false, locals: {mentor: @user.mentors[0]} %>
  </div>
  <% end  %>
  <br>
  <br>
  <div id="mentee_profile">
    <h3>Your Profile <%= link_to "(Edit)", edit_user_path(@user) %></h3>
    <%= render partial: 'mentee_profile', layout: false, locals: {mentee: @user} %>
  </div>

</div>
