<div class="resource-page">

  <h1 class="centered">Resources</h1>

  <div class="centered resource-list">
    <ul>
      <li><a href="https://csgjusticecenter.org/nrrc">National Re-Entry Resource Center</a></li>
      <li><a href="http://www.helpforfelons.org/reentry-programs-ex-offenders-state/">Reentry Programs For Ex-Offenders By State</a></li>
      <li><a href="http://www.insightprisonproject.org/resources.html">Insight Prison Project</a></li>
      <li><a href="https://www.fairshake.net">Fair Shake</a></li>
    </ul>
  </div>
</div>