<h3>Your Top Matches</h3>
<% @mentor.possible_matches.each do |mentee|%>
<%= render partial: 'mentees/profile', layout: false, locals: {mentee: mentee} %>
<%= "Match Score: #{@mentor.match_score(mentee)}" %><br>
<%= mentee.id %>
<%= link_to "Accept Match", "/mentees/#{mentee.id}/mentorships/", method: :post %>
<% end %>