<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks, <%= @mentor.first_name %>!</h1>
    <p>
      We appreciate you signing up to be a mentor to <%= @mentor.mentorships.last.first_name %>. You can view their profile by logging on to our site.<br>
    </p>
    <p>
      If you have any questions or concerns, please contatct WiseFriendApp@gmail.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>