<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WiseFriend, <%= @mentor.first_name %></h1>
    <p>
      You have successfully signed up to WiseFriend. Thank you for offering your mentoring services! You can review your top matches and select an individual to mentor.<br>
    </p>
    <p>
      If you have any questions or concerns, please reach out to RonuGhoshal@gmail.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>