/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("http://www.51pptmoban.com/d/file/2014/05/13/d12562dabc94ff6130521134133b5d3d.jpg");
}

#how-it-works {
  text-align: left;
  display: inline-block;
}

#areas-of-expertise {
  text-align: left;
}

#mentor_profile_page {
  padding-left: 10%;
  padding-top: 20%;
}

#mentorship {
  border-top: 1px solid white;
  padding-top: 3%;
  padding-bottom: 3%;
}

#top-match {
  border-top: 1px solid white;
  padding-top: 3%;
  padding-bottom: 3%;
}