<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WiseFriend, <%= @mentee.first_name %></h1>
    <p>
      You have successfully signed up to WiseFriend. We look forward to matching you with a mentor!<br>
    </p>
    <p>
      If you have any questions or concerns, please reach out to WiseFriendApp@gmail.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>